{% extends 'base.html.twig' %}

{% block title %}Modification d'étiquette | {{ parent() }}{% endblock %}

{% block body %}
    <h2>Modification d'un bon de livraison</h2>

    {{ include('livraison/_form.html.twig', {'button_label': 'Modifier'}) }}

    {#{{ include('livraison/_delete_form.html.twig') }}#}
{% endblock %}
