{% extends 'base.html.twig' %}

{% block title %}Edit Etiquette{% endblock %}

{% block body %}
    <h1>Edit Etiquette</h1>

    {{ include('etiquette/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_etiquette_index') }}">back to list</a>

    {{ include('etiquette/_delete_form.html.twig') }}
{% endblock %}
