{% extends 'base.html.twig' %}

{% block title %}Modification d'étiquette | {{ parent() }}{% endblock %}

{% block body %}
    <h2>Modification d'une étiquette</h2>

    {{ include('etiquette/_form.html.twig', {'button_label': 'Modifier'}) }}


    {#{{ include('etiquette/_delete_form.html.twig') }}#}
{% endblock %}

{% block javascripts %}
    <script>
        function afficherValeur(id) {
            let inputValeur = document.getElementById(id);
            let resultat = inputValeur.value;
            let resultatDiv = document.getElementById(id + "_resultat");
            resultatDiv.textContent = resultat;
        }
    </script>
{% endblock %}
