{% extends 'base.html.twig' %}

{% block title %}New Etiquette{% endblock %}

{% block body %}
    <h1>Create new Etiquette</h1>

    {{ include('etiquette/_form.html.twig') }}

    <a href="{{ path('app_etiquette_index') }}">back to list</a>
{% endblock %}
