{% extends 'base.html.twig' %}

{% block title %}Nouvelle étiquette | {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>Ajout d'une nouvelle étiquette</h2>
        </div>
    </div>

    {{ include('etiquette/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    <script>
        function afficherValeur(id) {
            let inputValeur = document.getElementById(id);
            let resultat = inputValeur.value;
            let resultatDiv = document.getElementById(id + "_resultat");
            resultatDiv.textContent = resultat;
        }
    </script>
{% endblock %}
