{{ form_start(form) }}

{{ form_row(form.editeur) }}

{% for tache in taches %}
    <div class="d-flex flex-row flex-wrap">
        <input type="radio" name="ta" id="taR">
        <label>{{ tache.nom }}</label>
    </div>
{% endfor %}

<button class="btn bg-primary text-light" name="btnsave" value="save" type="submit">Enregistrer</button>

{{ form_end(form) }}
