{% extends 'base.html.twig' %}

{% block title %}Plan de nettoyage | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="container d-flex flex-column">
                    <a class="text-decoration-none text-light" href="{{ path('app_tache_new') }}"><button type="button" class="btn btn-success mb-4 btn-lg btn-accueil">Zone cuisine et plonge</button></a>
                    <a class="text-decoration-none text-light" href="#"><button type="button" class="btn btn-success mb-4 btn-lg btn-accueil">Zone réfectoire, hall d'entrée, bureau</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
