{% extends 'base.html.twig' %}

{% block title %}Tâches | {{ parent() }}{% endblock %}

{% block body %}
    <h2>Zone cuisine et plonge</h2>

    {{ include('tache/_form.html.twig') }}

{% endblock %}
