body {
    font-family: 'Roboto', sans-serif;
}

.jumbo-height {
    height: 600px;
}

.btn-pageaccueil {
    height: 130px;
    width: 100%;
    box-shadow: 3px 3px 5px black;
    display: block;
    color : #ffffff !important;
}

h1 {
    font-size: 1.5rem;
    margin-left: 20px;
    font-style: italic;
}

h2 {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    font-style: italic;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-right: 10px;
}

.jumbotron {
    background-color: #f8f9fa;
}

.livraison-lien:hover {
    text-decoration: underline !important;
}

.button_taches {
    height: 170px;
    width: 240px;
    display: block;
    background-color: #1c731d;
    color: #ffffff;
    border-radius: 10px;
}

.button_taches:hover {
    opacity: 0.5;
    color: #000000;
    border: solid 2px #1c731d;
    border-radius: 10px;
}

.btn-accueil {
    width: 250px;
    height: 140px;
}

.card-tache {
    margin: 10px;
    width: 300px;
}

.card-tache-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 0;
}

li {
    list-style-type: none;
}

.button-zone {
    padding: 15px;
    background-color: #93c5fd;
    border-radius: 11px;
}

.button-zone:hover {
    background-color: #b9d9fc;
}

.liste-periode {
    width: 150px;
    height: 80px;
    padding: 10px;
    margin-right: 30px;
}

.button-stats {
    background-color: #93c5fd;
    width: 180px;
    padding: 10px;
    border-radius: 11px;
}

.button-stats.active {
    background-color: #2389fc !important;
}